.dashboard{
  height: 50px;
  position: absolute;
}
 body{
   background: #1E1E1E;
   color: #dddddd;
 }
.brand > p, #menu > li > a{
  color: white;
}

.red{
  background: #A30D3E;
  opacity: 0.7;
  color: white;
}
.green{
  background: #6A8F56;
  opacity: 0.7;
  color: white;
}
.blue{
  background: #9BADCF;
  opacity: 0.7;
  color: white;
}
.col-md-4{
  width: 30%;
  margin: 1%;
}
.information{
  position: relative;
  top: 50px;
  z-index: 10px;
}
.project.img, img{
  border-radius: 5%;
  height: 200px;
  width: 200px
}
a{
  color:#19464C;
}

img:hover{
  opacity: 0.8;
}
ul{
  list-style-type: none;
  padding-left: 0px;
}
