.dashboard{
  height: 100%;
  background: url("https://images.unsplash.com/photo-1428223501723-d821c5d00ca3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e5bd1e83a3aa65c5853fd3a7951d0816");
  background-size: cover;
}

img{
  vertical-align: middle;
}

.brand > p, #menu > li > a{
  color: white;
}

.red{
  background: #A30D3E;
}
.green{
  background: #6A8F56;
}
.blue{
  background: #9BADCF;
}
.col-md-4{
  width: 30%;
  margin: 1%;
}
