
<div class="container information">
  <div class="row" ng-repeat="project in projects">
    <br>
    <br>
    <div class="col-md-12">
      <div class="col-md-3">
        <a href="{{project.link}}">
          <img class="project img"src="{{project.img}}" alt="" />
        </a>

      </div>
      <div class="col-md-9">
        <a href="{{project.link}}">
          <h3>{{project.name}}</h3>
        </a>
        <br>
        <p>
          {{project.description}}
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
